<div class="row">
  <!-- <div class="col-md-5" style="border: solid greenyellow 2px;"> -->
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <!-- <div class="col-md-7" style="border: solid greenyellow 2px;"> -->
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
